* {
	box-sizing: border-box;
	margin: 0;
	border: 0;
}

@font-face{
	font-family: 'vazir';
	src:url("../fonts/Vazir-FD.woff")format("woff"),
	url("../fonts/Vazir-FD.eot")format("eot"),
	url("../fonts/Vazir-FD.ttf")format("truetype")
}

body {
	font-family: 'vazir';
}

.main {
	width: 100%;
	float: right;
	background: url('../images/back1.jpg') fixed no-repeat;
	background-size: 1600px 1000px;
	position: relative;
	min-width: 300px;
}

.main .header {
	width: 100%;
	height: 60px;
	color: #eeeeee;
	float: right;
	position: fixed;
	min-width: 300px;
	z-index: 6;
}

.header .topmenu {
	width: 100%;
	float: right;
	background: #777777;
	box-sizing: border-box;
	position: relative;
}

.header .topmenu .container {
	width: 100%;
	margin: 0 auto;
	position: relative;
	box-sizing: border-box;
}

.header .topmenu .container .topPhoto{
	float: right;
	width: 50px;
	height: 50px;
	margin: 5px 20px 5px 0px;
	box-sizing: border-box;
}

.header .topmenu .container .topPhoto img{
	float: right;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.header .topmenu .container .topmenuelements {
	float: right;
	width: 80px;
	margin: 15px 15px 0 0;
	box-sizing: border-box;
	display: inline-block;
	position: relative;
}	

.header .topmenu .container .topmenuelements a {
	font-family: 'vazir';
	float: right;
	width: auto;
	min-width: 8%;
	color: #aaaaaa;
	border: none;
	position: relative;
	text-decoration: none;
	display: inline-block;
	margin-right: 2px;
	box-sizing: border-box;
}

.header .topmenu .container .topmenuelements a:hover { 
	color: rgb(55,204,253);
}

.header .topmenu .container .topmenudate a {
	font-family: 'vazir';
	float: right;
	width: auto;
	min-width: 8%;
	color: #aaaaaa;
	border: none;
	text-decoration: none;
	display: inline-block;
	margin-right: 2px;
	box-sizing: border-box;
}

.header .topmenu .container .topmenudate a:hover { 
	color: rgb(55,204,253);
}

.header .topmenu .container .topmenudate {
	font-family: 'vazir';
	float: right;
	margin-top: 15px;
	margin-right: 10px;
	position: relative;
	color: #999999;
	box-sizing: border-box;
}

.header .topmenu .container .logo {
	float: left;
	height: 60px;
	width: 30%;
	margin-left: 5px;
	box-sizing: border-box;
}

.header .topmenu .container .logo img{
	height: 100%;
	float: left;
	box-sizing: border-box;
}

.main .mainPage {
	margin-top: 60px;
	width: 100%;
	min-height: 800px;
	position: relative;
	z-index: 1;
	display: inline-block;
	z-index: 2;
}

.main .mainPage .wrapper {
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,.6);
	position: fixed;
}

.main .footer {
	width: 100%;
	float: right;
	background: #777777;
	position: relative;
	bottom: 0;
	z-index: 2;
}

.main .footer .container {
	float: right;
	width: 100%;
}

.main .footer .container .addr {
	color: #eeeeee;
	float: right;
	display: block;
	margin-right: 50px;
}

.main .footer .container .addr h4{
	margin-top: 10px;
}

.main .footer .copy {
	color: #dddddd;
	margin: 10px auto;
	text-align: center;
	font-size: 12px;
}






.formm {
	width: 100%;
	margin: 50px auto;
	position: relative;
}

form{
	padding: 100px 0;
	max-width: 400px;
	min-width: 200px;
	width: 40%;
	margin: auto auto;
}
h2{
	color: #666;
	border-bottom: 1px solid #666;
	margin-bottom: 20px;
	text-align: right;
	font-weight: 400;
}
.controls{
	text-align: right;
	position: relative;
	margin-bottom: 20px;
}
input[type=text],
input[type=email],
input[type=tel],
select,textarea,button{
	padding: 18px;
	border: 1px solid #c6c6c6;
	width: 100%;
	color: #888;
	font-family: 'vazir';
	border-radius: 3px;
	text-align: right;
}
.label{
	position: absolute;
	top: 10px;
	right: 12px;
	display: inline-block;
	padding: 2px 10px;
	background: #fff;
	transition: .3s ease-in-out;
	color: #666
}
.label.active{
	top: -11px;
}
.ion-navicon{
	position: absolute;
	left: 10px;
	top: 14px;
	color: #888
}
select{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

textarea{
	height: 100px;
}
.radiobox{
	display: none;
}
.radiobox + label span{
	display: inline-block;
	cursor: pointer;
	background: url(../images/checks.png)no-repeat -4px -4px;
	width: 16px;
	height: 16px;
	margin-left: 10px;
}
.radiobox:checked + label span{
	background: url(../images/checks.png)no-repeat -4px -28px;
}
.radiobox + label {
	cursor: pointer;
	position: relative;
	margin-left: 5px;
}
.checkbox{
	display: none;
}
.checkbox + label span{
	display: inline-block;
	cursor: pointer;
	background: url(../images/checks.png)no-repeat -4px -4px;
	width: 16px;
	height: 16px;
	margin-left: 10px;
}
.checkbox:checked + label span{
	background: url(../images/checks.png)no-repeat -4px -52px;
}
.checkbox + label {
	cursor: pointer;
	position: relative;
	margin-left: 5px;
}
button{
	font-family: 'vazir';
	cursor: pointer;
	background: #3498db;
	border: none;
	color: #fff;
	padding: 12px 5px;
	text-align: center;
	width: 100%;
}

.controlsAbility{
	text-align: right;
	position: relative;
	margin-bottom: 20px;
}

.controlsAbility input[type=text] {
	padding: 18px;
	border: 1px solid #c6c6c6;
	width: 85%;
	color: #888;
	font-family: 'vazir';
	border-radius: 3px;
	text-align: right;
}

.controlsAbility button {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	color: #eeeeee;
	margin-right: 10px;
	font-size: 15px;
	background: #33bb33;
}

.controlsAbility button:hover {
	border-radius: 50%;
	background: #1e771e;
}

.controlsAbility ul{
	margin-top: 15px;
	list-style: none; 
}

.controlsAbility ul li{
	float: right;
	width: 100%;
	height: 25px;
	display: block; 
}

.ull {
	background: gray;
	width: 100%;
	color: white;
	min-height: 10px;
}
