<!DOCTYPE html>
{% load staticfiles %}
<html lang="fa" dir="rtl">
<head>
	<title>پروفایل شخصی نیکوکار</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href={% static "css/personalProfileBenefactor.css" %}>
	<link rel="stylesheet" type="text/css" href={% static "css/style.css" %}>
	<link rel="stylesheet" href={% static "css/ionicons.min.css" %}>
</head>
<body>
	<div class="main">
		<div class="header">
			<div class="topmenu" id="topmenu">
				
			</div>
		</div>
		<div class="mainPage">
			<div class="wrapper"></div>
			<div id="test">
				<div class="wrappers">
			
					<form class="login">
						<button id="button2" class="exit1" onclick="popdown()">x</button>
						<p class="title">ورود</p>
						<p>
							<input type="text" placeholder="نام کاربری" class="login-text">
							<i class="ion-person"></i>
						</p>
						<p>
							<input type="password" placeholder="رمز عبور" class="login-text">
							<i class="ion-ios-locked"></i>
						</p>
						<div class="enter"><button>ورود</button></div>
						<button class="forget">فراموشی رمز عبور</button>
						
						<p> اگر هنوز حساب کاربری برای خود ایجاد نکرده‌اید، </p> <button class="reg" id="buttonreg" onclick="popupregister()">ثبت نام</button> <p>کنید</p>
					</form>
				</div>
			</div>
			<div id="testreg">
				<div class="wrappers">
					<form class="register">
						<button id="buttonreg2" class="exit" onclick="popdownregister()">x</button>
						<p class="title">ثبت نام</p>
						<div class="enter"><a href="registerBenefactor.html">نیکوکار</a></div>
						<div class="enter"><a href="registerOrganization.html">موسسه</a></div>
					</form>
				</div>
			</div>
			<div class="nav" id="nav">
				
			</div>
			<div class="container">
				<div class="photo"><div id="photo"></div></div>
				<div class="personal">
					<h2> مشخصات </h2>
					<div id="personal"></div>
				</div>
				<div class="chartContainer">
					<div id="chart"></div>
				</div>
				<div id="abilities">
					<h2>توانایی‌ها </h2>
					<ul id="abilitiesUl"></ul>
				</div>
				<div id="projects">
					<h2>موسسه هایی که با آنها همکاری داشته</h2>
				</div>
				<div id="more">
					<h2>توضیحات بیشتر</h2>
				</div>
				<div id="weeklyfreetime">		
					<h2>زمانبندی هفتگی</h2>		
				</div>
			</div>
		</div>

		<div class="footer">
			<div class="container">
				<div class="addr">
					<h4> خیابان آزادی، بلوار اکبری، خیابان قاسمی، پلاک ۳۶، واحد ۲ </h4>
					<h4>تلفن: ۰۲۱۸۸۳۴۲۸۹۱</h4>
				</div>
			</div>
			<div class="copy">
				<h4>کپی‌رایت رعایت شود.</h4>
			</div>
		</div>
	</div>
	<script type="text/javascript" src={% static "js/personalProfileBenefactor.js" %}></script>
	<script type="text/javascript" src={% static "js/main.js" %}></script>
	<script src={% static "js/jquery.min.js" %}></script>
</body>
</html>