<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
	<title>جستجوی نیکوکاران</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href={% static "css/style.css"%}>
	<link rel="stylesheet" type="text/css" href={% static "css/waitingRequests.css"%}>
	<link rel="stylesheet" href={% static "css/ionicons.min.css"%}>
</head>
<body>
	<div class="main">
		<div class="header">
			<div class="topmenu" id="topmenu">
				
			</div>
		</div>
		<div class="mainPage">
			<div class="wrapper"></div>
			<div id="test">
				<div class="wrappers">
			
					<form class="login">
						<button id="button2" class="exit1" onclick="popdown()">x</button>
						<p class="title">ورود</p>
						<p>
							<input type="text" placeholder="نام کاربری" class="login-text">
							<i class="ion-person"></i>
						</p>
						<p>
							<input type="password" placeholder="رمز عبور" class="login-text">
							<i class="ion-ios-locked"></i>
						</p>
						<div class="enter"><button>ورود</button></div>
						<button class="forget">فراموشی رمز عبور</button>
						
						<p> اگر هنوز حساب کاربری برای خود ایجاد نکرده‌اید، </p> <button class="reg" id="buttonreg" onclick="popupregister()">ثبت نام</button> <p>کنید</p>
					</form>
				</div>
			</div>
			<div id="testreg">
				<div class="wrappers">
					<form class="register">
						<button id="buttonreg2" class="exit" onclick="popdownregister()">x</button>
						<p class="title">ثبت نام</p>
						<div class="enter"><a href="registerBenefactor.html">نیکوکار</a></div>
						<div class="enter"><a href="registerOrganization.html">موسسه</a></div>
					</form>
				</div>
			</div>
			<div class="nav" id="nav"></div>
			<div class="container">
				<div id="result">
					<div class="project">
						<div class="specifications">
							<a href="#"> یاوران ایتام</a>
							<ul>
								<li>رانندگی</li>
								<li>خیاطی</li>
								<li>نقاشی</li>
							</ul>
						</div>
						<div class="cost">
							<button>تایید </button>
						</div>
						<div class="cost">
							<button>رد</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="footer">
			<div class="container">
				<div class="addr">
					<h4> خیابان آزادی، بلوار اکبری، خیابان قاسمی، پلاک ۳۶، واحد ۲ </h4>
					<h4>تلفن: ۰۲۱۸۸۳۴۲۸۹۱</h4>
				</div>
			</div>
			<div class="copy">
				<h4>کپی‌رایت رعایت شود.</h4>
			</div>
		</div>
	</div>
	<script type="text/javascript" src={% static "js/sentRequests.js"%}></script>
	<script src={% static "js/jquery.min.js"%}></script>
	<script type="text/javascript" src={% static "js/main.js"%}></script>
</body>
</html>