* {
	box-sizing: border-box;
	margin: 0;
	border: none;
}

@font-face{
	font-family: 'vazir';
	src:url("../fonts/Vazir-FD.woff")format("woff"),
	url("../fonts/Vazir-FD.eot")format("eot"),
	url("../fonts/Vazir-FD.ttf")format("truetype")
}

body {
	font-family: 'vazir';
}

h2{
	margin-bottom: 10px;
	margin-top: 30px;
	width:600px;
}

.main {
	width: 100%;
	float: right;
	background: url('../images/back1.jpg') fixed no-repeat;
	background-size: 1600px 1000px;
	position: relative;
	min-width: 300px;
}

.main .header {
	width: 100%;
	height: 60px;
	color: #eeeeee;
	float: right;
	position: fixed;
	min-width: 300px;
	z-index: 6;
}

.header .topmenu {
	width: 100%;
	float: right;
	background: #777777;
	box-sizing: border-box;
	position: relative;
}

.header .topmenu .container {
	width: 100%;
	margin: 0 auto;
	position: relative;
	box-sizing: border-box;
}

.header .topmenu .container .topPhoto{
	float: right;
	width: 50px;
	height: 50px;
	margin: 5px 20px 5px 0px;
	box-sizing: border-box;
}

.header .topmenu .container .topPhoto img{
	float: right;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.header .topmenu .container .topmenuelements {
	float: right;
	width: 80px;
	margin: 15px 15px 0 0;
	box-sizing: border-box;
	display: inline-block;
	position: relative;
}	

.header .topmenu .container .topmenuelements a {
	font-family: 'vazir';
	float: right;
	width: auto;
	min-width: 8%;
	color: #aaaaaa;
	border: none;
	position: relative;
	text-decoration: none;
	display: inline-block;
	margin-right: 2px;
	box-sizing: border-box;
}

.header .topmenu .container .topmenuelements a:hover { 
	color: rgb(55,204,253);
}

.header .topmenu .container .topmenudate a {
	font-family: 'vazir';
	float: right;
	width: auto;
	min-width: 8%;
	color: #aaaaaa;
	border: none;
	text-decoration: none;
	display: inline-block;
	margin-right: 2px;
	box-sizing: border-box;
}

.header .topmenu .container .topmenudate a:hover { 
	color: rgb(55,204,253);
}

.header .topmenu .container .topmenudate {
	font-family: 'vazir';
	float: right;
	margin-top: 15px;
	margin-right: 10px;
	position: relative;
	color: #999999;
	box-sizing: border-box;
}

.header .topmenu .container .logo {
	float: left;
	height: 60px;
	width: 30%;
	margin-left: 5px;
	box-sizing: border-box;
}

.header .topmenu .container .logo img{
	height: 100%;
	float: left;
	box-sizing: border-box;
}

.main .mainPage {
	margin-top: 60px;
	width: 100%;
	min-height: 800px;
	position: relative;
	display: inline-block;
	z-index: 2;
}

.main .mainPage .wrapper {
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,.6);
	position: fixed;
	z-index: 1;
}

.main .footer {
	width: 100%;
	float: right;
	background: #777777;
	position: relative;
	bottom: 0;
	z-index: 2;
}

.main .footer .container {
	float: right;
	width: 100%;
}

.main .footer .container .addr {
	color: #eeeeee;
	float: right;
	display: block;
	margin-right: 50px;
}

.main .footer .container .addr h4{
	margin-top: 10px;
}

.main .footer .copy {
	color: #dddddd;
	margin: 10px auto;
	text-align: center;
	font-size: 12px;
}

.mainPage .container {
	width: 80%;
	z-index: 3;
	box-sizing: border-box;
	margin: 50px auto;
	position: relative;
}

.mainPage .container .photo {
	width: 20%;
	float: left;
	border: none;
}

.mainPage .container .photo img {
	width: 100%;
	height: 100%;
	border-radius: 20%;
}

.mainPage .container .personal {
	float: right;
	color: #333333
}

.mainPage .container .personal h3{
	margin-bottom: 5px;
	font-size: 100%;
}

.mainPage .container .chartContainer {
	width: 90%;
	display: block;
	position: relative;
	margin: 10px auto; 
}

#chart {
  margin-top: 50px;
  position: relative;
  border: none;
}

table {
  width: 100%;
  margin-top: 20px;
  min-width: 415px;
}

.charttitle {
  text-align: center;
}

.bars td {
  vertical-align: top;
  float: right;
  width: 12%;
  height: 150px;
  border: none;
  position: relative;
}

.bars div:hover {
  opacity: 0.6;
  color: white;
}
.bars div {
  color: white;
}

.bars .legend {
  vertical-align: top;
  padding-left: 20px;
  text-align: left;
  width: 35%;
  margin-right: 5%;
}

.legbox {
  display: block;
  clear: both;
}

.xaxisname {
  margin: 5px;
  color: #fff;
  font-size: 77%;
  padding: 5px;
  float: right;
}

.legbox span {
	float: right;
}


/*Flat UI colors*/

.one {
  background: #6C2DC7;
  text-align: center;
  color: #666;
}

.two {
  background: #7F38EC;
  text-align: center;
  color: #666;
}

.three {
  background: #893BFF;
  text-align: center;
  color: #666;
}

.four {
  background: #A23BEC;
  text-align: center;
  color: #666;
}

.five {
  background: #C45AEC;
  text-align: center;
  color: #666;
}

#abilities, #weekfreetime {
	width: 100%;
	position: relative;
	margin-top: 20px;
}

#abilities span, #projectscurrent span, #projects span{
	text-align: right;
border-radius: 10px;
}

	
#projects li {
	text-align: right;
	width: 400px;
}

#weeklyfreetime {
	margin-top: 20px;
}

#weektable tr td {
	width: 20%;
	border: none;
	float: right;
}

.weektable tr td span {
	width: 100%;
	height: 30px;
	border-radius: 15px;
	box-sizing: border-box;
	border: none;
	float: right;
}

.weektable tr td .free {
	background: rgb(191,215,157); 
}

.weektable tr td .free:hover {
	background: rgb(151,190,97); 
}

.weektable tr td .busy {
	background: rgb(150,150,150); 
}

td {
	width: 20%;
	text-align: center;
}

textarea {
	padding: 18px;
	border: 1px solid #c6c6c6;
	width: 70%;
	color: #888;
	font-family: 'vazir';
	border-radius: 3px;
	text-align: right;
	height: 150px;
	margin: 10px 15%; 
}

.subreq {
	font-family: 'vazir';
	cursor: pointer;
	background: #3498db;
	border: none;
	color: #fff;
	padding: 12px 5px;
	text-align: center;
	width: 60%;
	border-radius: 10px;
	text-decoration: none;
	margin: auto;
	display: block;
	padding: 5px;
	color:#eeeeee;
	margin-top: 10%;
}

.subreq:hover {
	background: rgb(33,126,188);
}