.mainPage {
	min-width: 820px;
}

.mainPage .container {
	width: 80%;
	z-index: 3;
	box-sizing: border-box;
	margin: 50px auto;
	position: relative;
}

.controls{
	text-align: center;
	position: relative;
	margin: 10px 10%;
	display: inline-block;
	width: 80%;
	height: 50px;
	font-size: 10px;
}

.controlsname{
	text-align: center;
	position: relative;
	margin: 10px 2.5% 10px 2.5%;
	display: inline-block;
	width: 50%;
	height: 50px;
}

.searchBar h4{
	font-size: 10px;
	display: inline-block;
	width: 15%;
	margin-top: 15px;
}

.searchBar select{
	font-size: 12px;
	width: 25%;
	height: 100%;
	color: #888;
	margin: 8px 0;
	background: #fdfdfd;
	font-family: 'vazir';
	border-radius: 3px;
	text-align: center;
	display: inline-block;
}

.controlsSelect{
	text-align: center;
	position: relative;
	margin: 20px 10%;
	display: inline-block;
	width: 80%;
	height: 50px;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=number],
select,textarea{
	font-size: 10px;
	border: 1px solid #c6c6c6;
	width: 100%;
	height: 100%;
	color: #888;
	background: #fdfdfd;
	font-family: 'vazir';
	border-radius: 3px;
	text-align: center;
	display: inline-block;
}

.ion-navicon{
	position: absolute;
	left: 15px;
	top: 15px;
	color: #444444;
	z-index: 3;
	border: none;
	font-size: 14px;
}
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.container h4 {
	text-align: center;
	margin-top: 10px;
	font-size: 12px;
}

.container p {
	text-align: center;
	font-size: 20px;
	margin-top: 20px;
}

button {
	border: 1px solid #333333;
	width: 100%;
	height: 80%;
	color: #888;
	background: none;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
}

.filter {
	width: 60%;
	min-width: 400px;
	background: rgba(255,255,255,0.5);
	height: 700px;
	margin-right:21%;
	
}
.filter p{
	font-size:30px;
}
.searchBar {
	float: left;
	display: inline-block;
	width: 100%;	
	height: 80px;
	position: relative;
}
.searchBar p{
	width: 25%;
	display: inline-block;
	text-align: right;
	font-size: 20px;
	font-family: 'vazir';
	float: right;
	margin-right: -30px;
}
.searchBar .container{
	width: 75%;
	display: inline-block;
	text-align: right;
	font-size: 22px;
	font-family: 'vazir';
	float: left;
	margin: 0 0; 
}
#result {
	width: 75%;
	min-height: 700px;
	position: relative;
	display: inline-block;
	float: left;
}

.report {
	width: 80%;
	margin-right: 10%;
	float: right;
	margin-bottom: 20px;
	border-bottom: 1px solid #777777;
}
.report .people {
	width: 30%;
	height: 100%;
	float: right;
	margin-bottom: 20px;
	display: inline-block;
}
.people span {
	float: right;
	width: 100%;
	color: #444444;
	text-align: center;
	border-radius: 5px;
	margin-top: 5px;
	height: 45%;
}
.people .benefactor {
	background: rgba(255,160,122,0.8);
}
.people .organization {
	background: rgba(240,128,128,0.8);
}
.people .type {
	background: rgba(240,230,140,0.8);
}
.report img {
	width: 20%;
	display: inline-block;
	border-radius: 5px;
}
.report .specifications a {
	float: right;
	font-size: 18px;
	display: inline-block;
	width: 90%;
	margin: 0 0;
	color: #555555;
	text-decoration: none;
}
.report .specifications a:hover {
	color: #A23BEC;
}
.report .specifications h3 {
	float: right;
	font-size: 13px;
	display: inline-block;
	width: 90%;
	margin-bottom: 20px;
}
.report .cost h3 {
	float: right;
	font-size: 13px;
	display: inline-block;
	width: 90%;
}
.report .specifications h4 {
	float: right;
	font-size: 12px;
	display: inline-block;
	width: 90%;
}

.report .cost {
	width: 30%;
	float: left;
	text-align: center;
}

.budget {
	color: #C45AEC;
}
.controls img{
	position: absolute;
	left: 10px;
	top: 10px;
	border: none;
	width: 30px;
	height: 30px;
}
.controls p,li{
	font-size:15px;
	align:right;
	margin-left:4px;
	text-align: justify;
}

.mybutton {
	width: 70%;
	height: 30px;
	margin: 10px 15%;
	background: #357EC7;
	color: #fdfdfd;
	border-radius: 5px;
}

.mybutton:hover {
	background: #0041C2;
}

.proj {
	width: 35%;
	height: 100%;
	float: right;
	margin: 0 10px 10px 0;
}

.rating {
	width: 35%;
	height: 100%;
	float: right;
	background: rgba(255,255,255,0.5);
	margin: 0 10px 10px 0;
}
.rating button {
	border: 1px solid #333333;
	width: 100%;
	height: 80%;
	color: #888;
	background: rgb(255,165,0);
	border-radius: 5px;
	display: inline-block;
	box-sizing: border-box;
}
.rating table tr{
	height: 20px;
	width: 100%;
	float: right;
	margin-top: 5px;
}
.rating table tr td{
	height: 20px;
	width: 10px;
	float: right;
	position: relative;
	display: inline;
}
.rating table tr .firstTd{
	height: 100%;
	width: 60%;
	text-align: center;
}

.rating table {
	font-size: 12px;
	height: 150px;
	width: 97%;
	float: right;
}
.more h4{
	font-size: 15px;
	text-align: center;
}
.more {
	width: 25%;
	float: left;
	font-size: 12px;
	margin-top: 10px;
}

.remove {
	position: relative;
	bottom: 10px;
	left: 10px;
	background: rgba(255,35,120,0.7);
	border: none;
	color: #fdfdfd;
	width: 10%;
	float: left;
	height: 20px;
	border-radius: 5px;
}
.remove:hover {
	background: rgb(255,35,120);
}


.week {
	width: 40%;
	height: 100%;
	float: right;
	background: rgba(255,255,255,0.5);
	margin: 0 10px 10px 0;
	font-size: 10px;
}
.tab {
	float: right;
	border: none;
	width: 100%;
	margin-bottom: 20px;
	box-sizing: border-box;
	border-collapse: collapse;
}
.firstCol {
	width: 40%;
	height: 5%;
	box-sizing: border-box;
	display: inline-block;
	text-align: center;
}

.otherCol{
	width: 13%;
	height: 15px;
	box-sizing: border-box;
	display: inline-block;
	text-align: center;
	background: rgb(211,233,158);
	border-radius: 10px;
}

th {
	width: 13%;
	height: 15px;
	margin-top: 2px;
	box-sizing: border-box;
	display: inline-block;
	text-align: center;
	border-radius: 10px;
}
.tab tbody tr {
	height: 10px;
	margin-top: 2px;
}

.proj h3{
	text-align: center;
}